<!-- app delete modal -->
<div id="appDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Delete App</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to do this?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="appDeleteBtn" class="btn btn-primary" data-dismiss="modal" onclick="void(0)">Delete</button>
  </div>
</div>
<!-- -->

<!-- Modal -->
<div id="appAccesses" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Currently have access(es) to:</h3>
  </div>
  <div class="modal-body">
    <ul id="accessibleApps">
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- -->

<div class="container" style="margin-bottom: 25px;">
  <div class="">
    <div class="row-fluid">
      <div style="min-height:512px;">
        <ul class="nav nav-tabs" id="systemTabs">
          <li><a href="#podio" data-toggle="tab">Podio Integration</a></li>
          <li><a href="#serviceAccountConfig" data-toggle="tab">Podio Service Account</a></li>
          <li><a href="#uninstaller" data-toggle="tab">Uninstall</a></li>
        </ul>

        <div class="tab-content">

          <!-- Podio Tab -->
          <div class="tab-pane" id="podio">

            <div>
              <ul class="inline">
                <!--<li><i class="icon-refresh"></i>&nbsp;<span><a href="javascript:void(0);">Reload</a></span></li>-->
                <a id="aAppAccesses" href="#appAccesses" data-toggle="modal">show access</a>
                <li><span id="podioTabLoadingText" style="padding:5px;display:none;">populating registered apps, please wait...</span></li>
              </ul>
            </div>

            <div>
              <table id="appTable" style="max-width:none;" class="table">
                <thead>
                <tr>
                  <th width="2%">#</th>
                  <th width="5%"></th>
                  <th width="2%">Status</th>
                  <th width="20%"><span style="padding: 0 5px 0 5px;">App Name</span></th>
                  <th width="70%"><span style="padding: 0 5px 0 5px;">App ID</span></th>
                </tr>
                </thead>
                <tbody id="appTableBody">

                <tr>
                  <td data-modify-flag="unchecked" data-id="">...</td>
                  <td data-modify-flag="unchecked" style="text-align:center;">
                    <a id="aNewApp" href="javascript:void(0);"><i class="icon-ok"></i></a>
                  </td>
                  <td data-modify-flag="unchecked" style="text-align:center;"></td>
                  <td data-modify-flag="checked">
                    <div style="max-height:175px;overflow-y:auto;cursor:pointer;">
                      <input type="text" class="input" id="newAppNameTxt" placeholder="new app name" maxlength="64" style="width:90%;display:block;border:0 !important;box-shadow:none !important;outline:0;font-family:'Courier New',sans-serif;" />
                    </div>
                  </td>
                  <td data-modify-flag="checked">
                    <div style="max-height:175px;overflow-y:auto;cursor:pointer;">
                      <!--<input type="text" class="input" id="newAppIdTxt" placeholder="new app id" maxlength="64" style="width:90%;display:block;border:0 !important;box-shadow:none !important;outline:0;font-family:'Courier New',sans-serif;" />-->
                      <select id="newAppIdSelect">
                      </select>
                    </div>
                  </td>
                </tr>

                <!-- DUMMY -->
                <tr class="appItem" id="podioAppItemDummy" style="display:none;">
                  <td data-modify-flag="unchecked" data-id=""></td>
                  <td data-modify-flag="unchecked" style="text-align:center;">
                    <a href="#appDelete" data-toggle="modal"><i class="icon-remove"></i></a>
                  </td>
                  <td data-modify-flag="unchecked" style="text-align:center;">
                    <a title="online" href="javascript:void(0);"><i id="" class="icon-eye-open"></i></a>
                  </td>
                  <td data-modify-flag="checked">
                    <div style="max-height:175px;overflow-y:auto;cursor:pointer;">
		                  						<span style="padding:0 5px 0 5px;">

						 						</span>
                      <input type="text" class="input" data-attr="editor" maxlength="64" style="width:90%;display:none;border:0 !important;box-shadow:none !important;outline:0;font-family:'Courier New',sans-serif;" />
                    </div>
                  </td>
                  <td data-modify-flag="checked">
                    <div style="max-height:175px;overflow-y:auto;cursor:pointer;">
		                  						<span style="padding:0 5px 0 5px;">

						 						</span>
                      <input type="text" class="input" data-attr="editor" maxlength="64" style="width:90%;display:none;border:0 !important;box-shadow:none !important;outline:0;font-family:'Courier New',sans-serif;" />
                    </div>
                  </td>
                </tr>
                <!-- DUMMY -->
                </tbody>
              </table>

            </div>
          </div>
          <!-- End -->

          <!-- Service Account Tab -->
          <div class="tab-pane" id="serviceAccountConfig">
            <div style="padding: 15px;">
              <div>
                <strong>Service Status:&nbsp;</strong>
                <% if (@serviceAccount.nil?) %>
                    <span id="serviceAccountStatus">No service account are currently active</span>
                <% else %>
                    <span id="serviceAccountStatus">Podio service account <%= @serviceAccount.value.strip.html_safe %> is active</span>
                <% end %>
              </div>
              <div style="padding: 25px 0 25px 0;">
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-user"></i></span>
                      <input id="username" type="text">
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-asterisk"></i></span>
                      <input id="password" type="password">
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn btn-danger" id="activateServiceAccountBtn">activate</button>
                </div>
              </div>
              <div id="orgsIndicator" style="display:none;">Loading...</div>
              <div id="chooseOrganization" class="chooseSomething" style="padding: 25px 0 25px 0;display:none;">
                <label for="selectOrganization"><strong>Choose an organization</strong></label>
                <select id="selectOrganization">
                </select>
              </div>
              <div id="workspacesIndicator" style="display:none;">Loading...</div>
              <div id="chooseWorkspace" class="chooseSomething" style="padding: 25px 0 25px 0;display:none;">
                <label for="selectPodioWorksapce"><strong>Choose a workspace</strong></label>
                <select id="selectPodioWorkspace">
                </select>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Uninstaller -->
          <div class="tab-pane" id="uninstaller">
            <input type="button" id="uninstall" class="btn" value="uninstall">
          </div>
          <!-- End -->

        </div>

      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "alliance_podio_plugin/configure" %>