<div class="container" style="margin-bottom: 25px;">
  <div class="">
    <div class="row-fluid">
      <h4>Please provide a valid podio account</h4>

      <div class="input-prepend">
        <span class="add-on">Username</span>
        <input class="span12" id="username" type="text" placeholder="">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Password</span>
        <input class="span12" id="password" type="password" placeholder="">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Podio API Key</span>
        <input class="span12" id="podioApiKey" type="text" placeholder="">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Podio Secret Key</span>
        <input class="span12" id="podioSecretKey" type="text" placeholder="">
      </div>
      <br />
      <div>
        <input type="button" id="submit" class="btn" value="authenticate">
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "alliance_podio_plugin/installer" %>